<form class="form-horizontal" autocomplete="off" #createXxxForm="ngForm" (ngSubmit)="save()">
    <nb-card>
        <nb-card-header>
            {{'CreateNewXxx' | localize}}
        </nb-card-header>
        <nb-card-body>
            <div>
                <!--element endTag-->
            </div>
        </nb-card-body>
        <nb-card-footer>
            <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createXxxForm.form.valid || saving"
            (onCancelClick)="dialogRef.close()"></abp-modal-footer>
        </nb-card-footer>
    </nb-card>
</form>